/playwright/screenshots/
/playwright/test/allure-report/
/playwright/test/allure-results/
/.venv/
/api_tests/allure-results/
/api_tests/allure-report/
/allure-report/
/allure-results/
/playwright/videos/
/screenshots/
