<!DOCTYPE html>
<html>
<head>
    <title>Вход в систему</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <h1>Вход в систему</h1>
    <form method="post" action="{{ url_for('login') }}">
        <label for="login">Имя пользователя:</label>
        <input type="text" id="login" name="login" required><br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Войти">
    </form>
</body>
</html>
